<main role="main" class="container">
  <div class="starter-template">
    <h1>Welcome, {{user.role}}: {{ user.name }}</h1>
    <p>
        <a>
          Administrator interface<br>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat fringilla egestas<br>
. Mauris ac mauris ante. Aliquam eget pretium ante. Orci varius natoque penatibus et magnis<br>
 dis parturient montes, nascetur ridiculus mus. Nunc finibus pellentesque ligula nec tristique.<br>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at nibh rhoncus, sollicitudin<br>
   mauris nec, semper urna. <br>
   <br>
      </a>

      <a href="/logout">Cierra sesión</a>
    </p>


<button onclick="window.location.href = 'app/../users'">Lista de Usuarios</button>

  </div>
</main>
